* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow: scroll;
}

.root {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  padding: .2em;
  box-shadow: 0px 0.2rem 0.2rem 0px gainsboro;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header > h1 {
  text-align: center;
}

.header > nav > div {
  display: flex;
  justify-content: center;
}

nav a, nav a:visited {
  text-decoration: none;
  color: black;
  margin: 0.5em;
}

nav a:hover {
  color: gray;
}

.content {
  padding: 1em 0.2em 0.5em 0.2em;
}

.products-title {
  text-align: center;
  margin: 0.5rem;
}

.products-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-tile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 16px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.product-tile button {
  border: none;
  outline: 0;
  padding: 0.5rem;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.product-tile button:hover {
  opacity: 0.7;
}

.single-product-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: arial;
  padding: 1em 1em 1em 1em;
  margin: 0 2em 0 2em;
  display: flex;
  justify-content: flex-start;
}

.single-product-left .price {
  text-align: center;
}

.single-product-right {
  margin-left: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-product-right form {
  display: flex;
  flex-direction: column;
}

.single-product-right select {
  max-width: 200px;
  margin: 0.4em 0 1em 0;
}

.single-product-right button {
  border: none;
  outline: 0;
  padding: 0.5rem;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  max-width: 200px;
  font-size: 16px;
}

.single-product-right button:hover {
  opacity: 0.7;
}

.cart-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: arial;
  padding: 1em 1em 1em 1em;
  margin: 0 2em 0 2em;
  display: flex;
  flex-direction: column;
}

.cart-container table {
  width: 100%;
  border-collapse: collapse;
}

.cart-checkout-button {
  border: none;
  outline: 0;
  padding: 0.5rem;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  max-width: 200px;
  font-size: 16px;
  margin-top: 0.5em;
}

.cart-checkout-button:hover {
  opacity: 0.7;
}

.cart-container th,
.cart-container td {
  text-align: center;
  border: 1px solid gainsboro;
  padding: 0.15em;
}

.cart-container th {
  background-color: gainsboro;
}

.cart-last-row {
  background-color: rgb(233, 233, 233);
}

.cart-remove-option {
  color: crimson;
}

.cart-quantity-button {
  width: 1em;
  margin: 0 1em 0 1em;
}

.cart-remove-option:hover,
.cart-quantity-button:hover {
  opacity: 0.3;
  cursor: pointer;
}

.add-to-cart-confirmation {
  color: green;
  margin: 0;
  padding: 0;
}

.checkout-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: arial;
  padding: 1em 1em 1em 1em;
  margin: 0 2em 0 2em;
  display: flex;
  flex-direction: column;
}

.checkout-container form {
  display: flex;
  flex-direction: column;
}


img {
  width: 200px;
  height: 200px;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
